.videoArticle .videoWrapper {
    background-color: #fff;
    margin: 0 5px;
    border: 1px solid #c5c5c5;
}

.videoArticle .videoWrapper h1 {
    font-size: 25px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 15px 0;
    padding: 0 10px;
}

.videoArticle .videoWrapper iframe {
    border: none;
}