.newsArticles {
    /* color: red; */
}

.articleBody {
    background-color: #fff;
    margin: 0 5px;
    border: 1px solid #c5c5c5;
    padding: 10px;
}

.articleBody h1 {
    font-size: 25px;
    font-weight: 400;
    color: #4d4d4d;
}

.articleImage {
    background-size: cover !important;
    width: 100%;
    height: 200px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.articleText {
    font-weight: 300;
    color: #666666;
    line-height: 23px;
    margin: 15px 0;
}